<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProCModel.Properties.Settings.ProjectCooperationConnectionString1"
            connectionString="Data Source=202.198.0.206\debug;Initial Catalog=ProjectCooperation;Persist Security Info=True;User ID=sa;Password=1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>